*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}
/***************************
 banner section styles start
 ***************************/
.banner-background{
    width: 100%;
    height: 
    100vh;
    background-image: url(../images/banner/banner3.png);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 70px;
}
.banner-titel{
    font-size: 65px;
    color: #FFFFFF;
    font-weight: 700;
}
.banner-part{
    position: absolute;
    left: 851px;
    top: 200px;
    padding: 20px 40px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 90px;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background-color: #FFFFFF;
    padding: 20px 26px;
    border: none;
    border-radius: 3px;
}
/*************************
 banner section styles end
 *************************/

/*******************************
 My failures section styles start
 *******************************/
.failuer-container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
.failuer-img img{
    width: 400px;
}
.failuer-part{
    width: 400px;
    margin-top: 130px;
}
.failuer-titel{
    font-weight: 700;
    font-size: 40px;
    color: black;
    padding: 3px;
    margin-right: 110px;
}
.failuer-decription{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 10px 11px;
}
.icon-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 3px
}
.icon-description-one{
    margin-right: 105px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 3px
}
.icon-description-two{
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 3px
}
.icon-description-three{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.icon-description-four{
    margin-right: 102px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 3px
}

.icon{
    color: #16D887;
}
/*******************************
 My failures section styles end
 *******************************/

/*******************************
 My plan section styles end
 *******************************/
.plan-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.web-devlopment > img{
    margin-left: 85px;
}
.plan-titel{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 40px;
}
.common-titel{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    padding: 6px 5px;
}
.common-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;
}
.web-javascript > img{
    margin-left: 18px;
}
.smoking-habit > img{
    margin-left: 50px;
}
.ecommerce > img{
    margin-left: 15px;
}

/*******************************
 My plan section styles end
 *******************************/

/*******************************
 My blog section styles start
 *******************************/ 
 .our-blog-headding{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    padding: 18px 10px;
    margin-bottom: 50px;
 }
 .blog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 80px;
 }
 .blog-img{
    width: 350px;
 }
.our-blog{
    width: 350px;
    height: 430px;
    background-color: #FFFFFF;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,30,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    color: #FFFFFF;
}
.blog-text{
    padding: 15px;
}

 /*******************************
 My blog section styles end
 *******************************/ 

/*******************************
 Always keep positive section styles start
 *******************************/ 

 .keep-positive{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
    width: 850px;
    height: 200px;
    padding: 17px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    color: white;
    margin-bottom: 70px;
    background-size: 100%;
    position: relative;
    z-index: 0;
}
.keep-positive img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.keep-titel{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    padding: 0px 115px;
}
.contact{
    margin-left: 110px;
    padding: 10px 19px;
    margin-top: 5px;
}

  /*************************************
 Always keep positive section styles end
 ***************************************/ 

/****************************
 footer section styles start 
 ****************************/ 
.footer-part{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 30px 3px;
}
.footer-titel{
    font-weight: 700;
    font-size: 45px;
    padding: 10px 5px;
    color: #F8F8F8;
}
.future{
    width: 485px;
}
.Subscribe{
    margin-bottom: 140px;
}
.footer-description{
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0px;
    color: #FFFFFF;
}
.Subscribe-titel{
    font-weight: 600;
    font-size: 25px;
    padding: 10px 5px;
    color: #F8F8F8;
}
.footer-email{
    padding: 7px 0px;
}
.input, .btn-button{
    padding: 10px 30px;
}
.footer-email, .phone-nmbr{
    color: #F8F8F8;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 0;
}


 /****************************
 footer section styles end 
 ****************************/ 